<footer class="text-center text-black footer">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-3">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-4">
            <!-- Grid column -->
            <div class="col-sm-2">
              <h6 class="text-uppercase fw-normal">
                <a href="#!" class="text-black">About us</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-sm-2">
              <h6 class="text-uppercase fw-normal">
                <a href="#!" class="text-black">Privacy</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-sm-2">
              <h6 class="text-uppercase fw-normal">
                <a href="#!" class="text-black">Terms</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-sm-2">
              <h6 class="text-uppercase fw-normal">
                <a href="#!" class="text-black">Help</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-sm-2">
              <h6 class="text-uppercase fw-normal">
                <a href="/contact" class="text-black">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-4" />
  
        <!-- Section: Text -->
        <section class="mb-4">
          <div class="row d-flex justify-content-center text-black">
            <div class="col-lg-7">
              <p>
                <b>Nestify:</b> From air mattresses to dream vacation homes, 
                we’ve got your stay covered! Whether it is a cozy apartment or a one-of-a-kind getaway, 
                we bring the world to your doorstep. 
                Book, relax, and make memories with Nestify seamless travel experience. 
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->
        <section class="text-center mb-5">
          <a href="" class="text-black me-4">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-black me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
        
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <hr>
      <div class="text-center p-3 footer text-black">© 2025 Copyright:
        <a class="text-black" href="#">Nestify.com</a>
      </div>
      <!-- Copyright -->
</footer>
   