<%- layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-7 offset-2 pad-bottom">
        <h3 class="new-listing">Create Listing</h3>
        <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data" >
            <div class="mb-3">
                <label for="label" class="form-label">Title</label>
                <input type="text" name="listing[title]" class="form-control" required > 
                <div class="valid-feedback">
                    Looks good!
                </div>   
            </div>
           
            <div class="mb-3">
                <label for="label" class="form-label">Description</label>
                <textarea type="text" name="listing[description]" class="form-control" required ></textarea>
                <div class="invalid-feedback">
                    please provide a description
                </div>
            </div>
            <div class="mb-3">
                <label for="label" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" class="form-control">  
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="label" class="form-label">Price</label>
                    <input type="number" name="listing[price]" placeholder=" Price" class="form-control" required  >
                    <div class="invalid-feedback">
                        Please provide a valid price
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="label" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Country" class="form-control" required >
                    <div class="invalid-feedback">
                        please provide a valid country
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="label" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Location" class="form-control" required >
                <div class="invalid-feedback">
                    Please provide a valid Location
                </div>
            </div>
            <button class="btn add-btn">Add</button>
        </form>
        
    </div>
</div>
