.signup-btn {
    background-color: #669bbc;
    font-weight: bolder;
}

.signup-btn:hover {
    background-color: #669bbc;
    font-weight: bolder;
}

.login-btn{
    background-color: #669bbc;
    font-weight: bolder;
} 

.login-btn:hover{
    background-color: #669bbc;
    font-weight: bolder;
} 
