.btn-search {
    background-color: #669bbc;
    border-radius: 30px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover {
    background-color: #669bbc;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search {
    border-radius: 30px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }